 /* New Post Button */
 .new-post-btn {
     width: 100%;
     padding: 10px;
     background-color: #007bff;
     color: white;
     border: none;
     border-radius: 5px;
     margin-bottom: 20px;
     cursor: pointer;
 }

 .posts-section {
     width: 70%;
     padding: 20px;
     overflow-y: auto;
     max-height: 100vh;
 }

 /* Post Styles */
 .post {
     margin-bottom: 20px;
     background: radial-gradient(98.47% 257.69% at 0% 50%, rgba(72, 72, 72, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
     color: #fff;
     /* Adjust text color */
     border-radius: 10px;
     /* Add rounded corners */
     padding: 10px;
     /* Add spacing inside the card */
 }

 .post-header {
     display: flex;
     align-items: center;
     padding: 10px;
     border-bottom: 1px solid #eee;
     color: #fff;
 }

 .post-header img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     margin-right: 10px;
 }

 .post-info h4 {
     margin: 0;
 }

 .post-info p {
     margin: 0;
     font-size: 0.9em;
 }

 .post-info img,
 .expand {
     width: 12px !important;
     height: 15px !important;
 }


 .post-image {
     width: 100%;
     height: auto;
     display: block;
 }